## app.school is the acronym of the school. It is used to include/exclude
## some school-specific code.
## app.url is the URL by which the application will be accessed.
## app.email is used as the sender of the automated emails sent by the system.
## Uploaded files are stored in app.dir.file, and the log files are kept under
## app.dir.log.
app.school=csula
app.url=http://localhost:8080/csns2
app.email=csns2@localhost.localdomain
app.encoding=UTF-8
app.file.dir=E:/Temp/csns2/files
app.log.dir=E:/Temp/csns2/logs

## set app.log.level to debug during development and info for production.
## app.log.request controls whether HTTP requests should be logged.
app.log.level=debug
app.log.request=false

## The database for operational use.
db.url=jdbc:postgresql://localhost:5432/csns2
db.username=cysun
db.password=abcd

## The database for automated testing.
test.db.url=jdbc:postgresql://localhost:5432/csns2test
test.db.username=cysun
test.db.password=abcd

## The SMTP server for outgoing emails.
mail.smtp.server=localhost
mail.smtp.username=cysun@localhost.localdomain
mail.smtp.password=abcd

## JavaScript libraries.
jquery.url=https://code.jquery.com/jquery-3.1.1.min.js
jqueryui.url=https://code.jquery.com/ui/1.12.1/jquery-ui.min.js
jqueryui.css=https://code.jquery.com/ui/1.12.1/themes/redmond/jquery-ui.css
highcharts=https://code.highcharts.com
mathjax.url=https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML
jquery.plugins=https://csns.calstatela.edu/static/jqueryplugins2
ckeditor.url=https://csns.calstatela.edu/static/ckeditor-4.5.7/ckeditor.js
