The following topic was created in CSNS Forum - $topic.forum.shortName
by $topic.author.name at $topic.date.

    Topic: $topic.name
    URL: $appUrl/department/$dept/forum/topic/view?id=$topic.id

****************************************************************************
If you no longer wish to receive email notifications about new topics in
this forum, please click the following link to unsubscribe:
$appUrl/subscription/forum/unsubscribe?id=$topic.forum.id
Note that you will be asked for your username and password if you are not
logged on to CSNS. If you forget or do not know your username or password,
please follow the instructions at
$appUrl/resetPassword
and your account information will be emailed to you.
****************************************************************************
