<ul>
<li><a href="/wiki/content/department/$department.abbreviation/">$department.name Department Wiki</a></li>
<li><a href="/wiki/content/department/$department.abbreviation/sidebar">Sidebar</a></li>
<li><a href="/wiki/content/csns/">CSNS Documentation</a></li>
</ul>
