<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:security="http://www.springframework.org/schema/security"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/security
        http://www.springframework.org/schema/security/spring-security.xsd">

    <bean id="applicationProperties" class="csns.util.ApplicationProperties">
        <property name="properties">
            <props>
                <prop key="app.url">${app.url}</prop>
                <prop key="app.email">${app.email}</prop>
                <prop key="app.email.admin">${app.email.admin}</prop>
                <prop key="app.dir.file">${app.dir.file}</prop>
                <prop key="app.dir.log">${app.dir.log}</prop>
            </props>
        </property>
    </bean>

    <context:annotation-config />

    <tx:annotation-driven />

    <bean id="dataSource" class="org.apache.tomcat.jdbc.pool.DataSource" destroy-method="close">
        <property name="driverClassName" value="org.postgresql.Driver" />
        <property name="url" value="${db.url}" />
        <property name="username" value="${db.username}" />
        <property name="password" value="${db.password}" />
        <property name="initialSize" value="1" />
    </bean>

    <bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
        <property name="persistenceUnitName" value="csns2" />
        <property name="dataSource" ref="dataSource" />
    </bean>

    <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
        <property name="entityManagerFactory" ref="entityManagerFactory" />
    </bean>

    <bean class="org.springframework.dao.annotation.PersistenceExceptionTranslationPostProcessor" />

    <bean id="passwordEncoder" class="org.springframework.security.authentication.encoding.Md5PasswordEncoder" />

    <security:authentication-manager>
        <security:authentication-provider user-service-ref="userService">
            <security:password-encoder ref="passwordEncoder" />
        </security:authentication-provider>
    </security:authentication-manager>

    <security:http use-expressions="true">
        <security:form-login login-page="/login"
            authentication-success-handler-ref="authenticationSuccessHandler"
            authentication-failure-url="/401" />
        <security:logout success-handler-ref="logoutRedirectHandler" />
        <security:remember-me data-source-ref="dataSource"/>
        <security:custom-filter ref="registrationFilter" position="LAST" />
        <security:intercept-url pattern="/admin/**" access="hasRole('ROLE_ADMIN')" />
        <security:intercept-url pattern="/user/**" access="hasRole('ROLE_ADMIN') or authenticated and (principal.departmentAdmin or principal.faculty)" />
        <security:intercept-url pattern="/profile" access="authenticated" />
        <security:intercept-url pattern="/register" access="authenticated and principal.temporary" />
    </security:http>

    <security:global-method-security pre-post-annotations="enabled" />

    <bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
        <property name="host" value="${mail.smtp.server}" />
        <property name="username" value="${mail.smtp.username}" />
        <property name="password" value="${mail.smtp.password}" />
    </bean>

    <bean id="velocityEngine" class="org.springframework.ui.velocity.VelocityEngineFactoryBean">
        <property name="resourceLoaderPath" value="/WEB-INF/velocity" />
    </bean>

    <context:component-scan base-package="csns">
        <context:exclude-filter expression="org.springframework.stereotype.Controller" type="annotation"/>
    </context:component-scan>

</beans>
